.register-title {
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px rgba(232, 232, 232, 0.338) ;
  h4 {
    color: whitesmoke;
    justify-content: center;
    text-align: center;  
  }
}

.steps {  
  text-align: center;
  justify-content: center;
}

.step-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFD700;
  margin-bottom: 0.5rem;
}

.step-description {
  font-size: 1.2rem;
  color: #555;
  margin: 0; 
}

li {
  font-size: 1.1rem;
  color: whitesmoke;
}

.form-label {
  font-size: 1rem;
  color: #FFD700;
  font-weight:lighter;
  font-style: oblique;  
}
  

