.register-title {
  color: black;
  margin-bottom: 1rem; /* Espaciado con el párrafo */
}

h2 {
  justify-content: center;
  text-align: center;  
}

.steps {
  
  text-align: center;
  justify-content: center;
}

.step-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 0.5rem; /* Espaciado con el párrafo */
}

.step-description {
  font-size: 1.2rem;
  color: #555; /* Gris neutro */
  margin: 0; /* Elimina márgenes adicionales */
}

li {
  font-size: 1.1rem;
}

.form-label {
  font-size: 1rem;
  color: rgb(75, 75, 75);
  font-weight: bold;
  
}
  