.register-title {
  color: black;
  margin-bottom: 1rem;
}

h2 {
  justify-content: center;
  text-align: center;  
}

.steps {  
  text-align: center;
  justify-content: center;
}

.step-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 0.5rem;
}

.step-description {
  font-size: 1.2rem;
  color: #555;
  margin: 0; 
}

li {
  font-size: 1.1rem;
}

.form-label {
  font-size: 1rem;
  color: rgb(75, 75, 75);
  font-weight: bold;  
}
  