.footer {
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--text-color);
    background-color: var(--surface);
    border-top: 2px solid rgba(var(--jonquil), 0.4);
}