<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/img/Logo_TecAway_yellow.svg" alt="logo" width="50" height="50"> TecAway</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="true">
                        Buscar técnicos/as
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Iluminación</a></li>
                        <li><a class="dropdown-item" href="#">Sonido</a></li>
                        <li><a class="dropdown-item" href="#">Video</a></li>
                        <li><a class="dropdown-item" href="#">Regiduria</a></li>
                        <li><a class="dropdown-item" href="#">Escenografía</a></li>
                        <li><a class="dropdown-item" href="#">Vestuario</a></li>
                        <li><a class="dropdown-item" href="#">Caracterización</a></li>
                        <li><a class="dropdown-item" href="#">Producción</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav me-2 mb-2 mb-lg-0">
                <li class="nav-item me-2">
                    <a class="nav-link active" aria-current="page" href="#">Anunciate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tu cuenta</a>
                    
                </li>
            </ul>
        </div>
    </div>
</nav>