/* home.component.scss */

// Variables
$primary-yellow: #ffc107;
$hover-shadow: 0 1rem 3rem rgba(0,0,0,.175);

// Hero Section
.hero-section {
  padding: 3rem 0;
  background-color: transparent;
  font-family: "Nunito Sans", sans-serif;

  .hero-image {
    max-height: 340px;
    object-fit: cover;
    border: 5px solid $primary-yellow;
    border-radius: 50%;
  }

}

h1 {
    text-transform:none;
}
.community-message {
  padding: 2rem 0;
  font-family: "Nunito Sans", sans-serif;
  color: #6c757dde; // Esto es lo que hace text-muted
  font-style: italic; // Esto es lo que hace fst-italic
  text-align: center; // Esto es lo que hace text-center
  font-size: 1.2rem;
  font-weight:800;
  text-transform: uppercase;
}

// Steps Section
.steps-section {
  padding: 3rem 0;
  background-color: rgba($primary-yellow, 0.2);

  .step-circle {
    width: 60px;
    height: 60px;
    background-color: $primary-yellow;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1.5rem;
  }
}

// Card hover effect
.hover-shadow-lg {
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: $hover-shadow !important;
  }
}

// Responsive adjustments

@media (max-width: 992px) {
    .hero-section {
      .hero-image {
          justify-self: center;
        max-height: 300px;
        margin-bottom: 2rem;
      }
    }
    .image-container {
      display: flex;
      justify-content: center;
    }
  }

@media (max-width: 768px) {
  .hero-section {
    .hero-image {
        justify-self: center;
      max-height: 300px;
      margin-bottom: 2rem;
    }
  }
  
}
