<div class="container container-fluid">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">

                ¡Bienvenido/a a TecAway!




            </h1>
            <p>¿Buscas técnicos/as para tu próximo espectáculo? 🎭✨</p>
            <p>
                ¿Te dedicas a las artes escénicas y quieres encontrar nuevas oportunidades laborales? 💼🎶
            </p>
            <p>TecAway es el lugar donde los espectáculos y el talento se conectan. ¡Únete a nuestra comunidad! 🌟</p>
        </div>

        <div><a class="click-btn btn-style506" href="buscar">Buscar</a></div>
    </div>



</div>
<!-- 
    <div><a class="click-btn btn-style906" href="buscar" data-hover="¡Encuentra!">Buscar</a></div> -->