<div class="container-fluid">
  <section class="hero-section">
    <div class="container mt-0">
      <h1 class="fw-bold text-center mt-0 mb-4">¡Bienvenida/o a TecAway!</h1>

      <div class="row align-items-center">
        <div class="col-lg-7 mt-4">
          <div class="mb-5">
            <p class="lead mb-3">
              ¿Te dedicas a las artes escénicas y quieres encontrar nuevas oportunidades laborales?
            </p>
            <a href="/registro" class="click-btn btn-style506">Crear perfil</a>
          </div>
          <div class="mb-5 ">
            <p class="lead mb-3">¿Buscas técnicos/as para tu próximo espectáculo?</p>
            <a href="/buscar" class="click-btn btn-style506">Buscar</a>
          </div>
        </div>
        <div class="col-lg-5 image-container">
          <img src="assets/img/tecnic_1.png" alt="Técnico de teatro" class="hero-image img-fluid ">
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <p class="community-message">
            TecAway es el lugar donde los espectáculos y el talento se conectan. <br>
            ¡Únete a nuestra comunidad!
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="steps-section">
    <div class="container mb-0 pb-0">
      <h2 class="display-5 text-center mb-5">¿Cómo registrarte como técnico?</h2>
      <div class="row g-4">
        <div class="col-md-4">
          <div class="card h-100 border-0 shadow-sm hover-shadow-lg">
            <div class="card-body text-center">
              <div class="step-circle">
                <span class="fw-bold h4 mb-0">1</span>
              </div>
              <h3 class="h4 mb-3">Crea tu perfil</h3>
              <p class="text">
                Regístrate en nuestra plataforma para completar tu perfil profesional.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card h-100 border-0 shadow-sm hover-shadow-lg">
            <div class="card-body text-center">
              <div class="step-circle">
                <span class="fw-bold h4 mb-0">2</span>
              </div>
              <h3 class="h4 mb-3">Pon tu experiencia</h3>
              <p class="text subtext">
                Añade una decripcion con tu experiencia y detalles de los proyectos en los que has participado.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card h-100 border-0 shadow-sm hover-shadow-lg">
            <div class="card-body text-center">
              <div class="step-circle">
                <span class="fw-bold h4 mb-0">3</span>
              </div>
              <h3 class="h4 mb-3">Añade tus conocimientos</h3>
              <p class="text">
                Finalmente, añade tus habilidades y conocimientos técnicos.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container container-fluid">
    <div class="row mt-4">
      <div class="col-12">
        <p class="community-message">
          Conecta con productores y compañías que buscan profesionales como tú para sus espectáculos.<br>¡Y empieza a
          trabajar!
        </p>
      </div>
    </div>
  </div>
</div>