<div class="container mt-5">
  <div class="card" style="max-width: 900px;">
    <div class="row no-gutters">
      <div class="col-md-4 d-flex justify-content-center">
        <img src="{{ technician.photo }}" class="card-img" alt="Foto del técnico"
          onerror="this.src='/assets/img/user_image.png'">
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">{{ technician.name }}</h3>

          <h5 class="card-subtitle mb-2 text-muted">{{ technician.title }}</h5>

          <div class="card-text">
            <div>


              <p><i class="bi bi-geo-alt"></i> {{ technician.town }} </p>
            </div>
            <strong>Puede desplazarse largas distancias:</strong>

            @if(technician.can_move == 1) {
            <span class="badge  bg-success">Si</span>}
            @if(technician.can_move == 0) {
            <span class="badge  bg-danger">No</span>
            }

          </div>

          @for(section of technician.sections; track section.section_name){
          <h6 class="mt-3"><strong>{{ section.section_name }}</strong></h6>
          @for(knowledge of section.section_knowledges; track knowledge.knowledge_name){
          <span class="badge bg-light">{{ knowledge.knowledge_name }}</span>

          }
          }


          <p class="card-text mt-3"> {{ technician.description }}</p>

          <a href="#" class="btn btn-primary">Contactar</a>
        </div>
      </div>
    </div>
  </div>
  <a routerLink="/buscar" class="btn btn-outline-secondary mt-3">Volver</a>
</div>