.container {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#filter-list {
    display: flex;
    font-size: 1rem;
    align-items: center;
    border-bottom: 1px solid grey;
    
}

.filter-title {
    
    font-size: 1.1rem;
    font-weight: bolder;
   
}

.card-link {
    min-width: 100vh;
}

// .technicians-list {
//     display: flex;
    
// }

// .card-technician {
//     display: flex;
//     background-color: #111111b7;
//     color: whitesmoke;
//     border: 1px solid #111111b7;

//     &::before {
//         content: '';
//         position: absolute;
//         bottom: -1px;
//         right: 10px;
//         width: 100px;
//         height: 19px;
//         background-color: rgba(0, 0, 0, 0.171);
//         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
//         clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
//     }

//     &:hover {
//         box-shadow: 0 0 0.5rem white;
//     }

// }


// a {
//     color: whitesmoke;
//     text-decoration: none;

//     &:hover {
//         text-shadow: 0 0 0.1rem rgba(255, 255, 255, 0.528)
//     }
// }

#name {
    font-size: 1rem;
}

#title {
    font-size: 0.8rem;
    padding: 0;
}
#description {
    font-size: 0.5rem;
    padding: 0;
}
.btn-star {
    color: whitesmoke;
    border: 1px solid yellow;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.367);
    max-width: 10rem;
    margin: 1rem;

    &:hover {
        color: yellow;
    }
}


.card-img {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: 0.5rem; 

}

.img {
    size: fit-content;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 0.7rem;
}