@if(loading == true) {
<app-loading-bar message="Cargando técnicos/as..."></app-loading-bar>
} @if(loading == false) {

<div class="container container-fluid mt-2">

  <button class="btn click-btn btn-style506 mt-2" (click)="toggleFilter()">Filtrar</button>
  <div class="row">

    <div class="col-12 col-md-3" id="filter">
      <div class="filter-overlay" (click)="closeFilter()"></div>
      <div class="card filter-card ">
        <button class="filter-close" (click)="closeFilter()">×</button>
        <p class="filter-title">Puesto</p>
        <div id="filter-list">
          <form [formGroup]="filterForm">
            @for (section of sectionList; track section.id_section) {
            @if(section.section !== 'Conocimientos generales') {
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="{{ 'section-' + section.id_section }}"
                (change)="getSelectedSections(section.id_section!, $event)">
              <label class="form-check-label" for="'section-' + section.id_section">{{ section.section }}
              </label>
            </div>
            }
            }

          </form>
        </div>
        <div id="filtre-knowledges">

          @for (section of sectionList; track section.id_section) {
          @if(isCheckedSection(section.id_section!)) {
          <p class="filter-title">{{section.section}}</p>
          @for (knowledge of knowledgeList; track knowledge.id_knowledge) {
          @if(knowledge.section_id == section.id_section && knowledge.knowledge != section.section) {
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="{{ 'knowledge-' + knowledge.id_knowledge }}"
              (change)="getSelectedKnowledges(knowledge.id_knowledge!, $event)">
            <label class="form-check-label" for="'knowledge-' + knowledge.id_knowledge">{{ knowledge.knowledge }}
            </label>
          </div>
          }
          }
          }
          }
        </div>
        <!-- <p class="filter-title">Ciudad/Provincia</p>
        <div id="filtre-city">
          <input type="text">
        </div> -->
      </div>
    </div>



    <section class="col-12 col-md-9">
      @if(filterService.techniciansFiltred().length == 0 ) {
      <div class="col-12 card-link">
        <div class="card card-technician">
          <div class="row g-0">
            <div class="col-2 ">
            
                <app-user-avatar 
                  [photo]="null" 
                  [name]="'Sin técnicos'" 
                  [size]="getAvatarSize()" 
                  class="responsive-avatar object-fit-scale border rounded">
                </app-user-avatar>
             
            </div>
            <div class="col-10">
              <div class="card-body">
                <p class="card-title">No hay técnicos disponibles</p>
                <p class="card-subtitle mb-2">Por favor, ajuste los filtros de búsqueda</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      }


      @for(technician of filterService.techniciansFiltred(); track technician.id_user) {

      <div class="col-12 card-link">
        <a [routerLink]="['/user', technician.id_user]">
          <div class="card card-technician">
            <div class="row g-0">
              <div class="col-2">
                <div class="card-img">
                  <app-user-avatar 
                    [photo]="technician.photo" 
                    [name]="technician.name" 
                    [size]="getAvatarSize()"
                    class="responsive-avatar">
                  </app-user-avatar>
                </div>
              </div>
              <div class="col-10">
                <div class="card-body">
                  <p class="card-title" id="name">{{technician.name.toUpperCase()}}</p>
                  <p class="card-subtitle mb-2" id="title">{{technician.title}}</p>
                  <p class="card-subtitle mb-2" id="description">{{technician.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      }
    </section>
  </div>
</div>

}