@if(loading === true) {
<app-loading-bar message="Cargando conocimientos..."></app-loading-bar>
} @if(loading === false) {
<div class="container mt-4">
    <h2 class="mb-2 text-center">Añade tus conocimientos</h2>
    
    <div class="row">
      @for (section of sectionList; track section.id_section) {
        <div class="col-12 mb-4">
          <h4 class="border-bottom pb-2">{{ section.section }}</h4>
          
          <div class="d-flex flex-wrap gap-2 mt-3">
            @for (knowledge of knowledgeList; track knowledge.id_knowledge) {
              @if(knowledge.section_id === section.id_section ) {
                <button 
                  type="button" 
                  class="btn btn-outline-warning knowledge-btn {{ isSelected(knowledge.id_knowledge!) ? 'active' : '' }}"
                  (click)="toggleKnowledge(knowledge.id_knowledge!)"
                >
                  {{ knowledge.knowledge }}
                </button>
              }
            }
          </div>
        </div>
      }
    </div>
  
    <div class="row mt-4">
      <div class="col-12">
        <button type="button" class="click-btn btn-style506" (click)="saveKnowledges()">
          Guardar conocimientos
        </button>
      </div>
    </div>
  </div>
}