.knowledge-btn {    
    color: var(--text-color);
    padding: 0.5rem;   
    font-weight: lighter;
    border: 1px solid var(--jonquil);
    background-color: var(--surface);
}

.knowledge-btn.active {
    background-color: var(--jonquil);
    color: var(--jet);
    border-color: var(--jonquil);
    font-weight: 800;
}
  
.knowledge-btn:hover {
    background-color: var(--jonquil);
    color: var(--jet);   
}

.gap-2 {
    gap: 0.5rem !important;
}


  $jonquil: #ffc107;;
$eerie-black: #202020ff;
$jet: #333533ff;

.click-btn {
    display: flex;
    width: fit-content;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    line-height: 35px;
    border: 1px solid;
    
    text-align: center;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    transition: all 0.35s;
    box-sizing: border-box;
}

.btn-style506 {
    color: var(--text-color);
    border-color: var(--jonquil);
    
    &::before {
        background-color: var(--jonquil);
    }
    &:hover {
        color: var(--jet);
    }
}

h4, h2 {
    color: var(--text-color);
    margin-top: 1rem;
}