.knowledge-btn {
    
    color: var(--bs-dark);
    padding: 0.5rem;
   
  }


.knowledge-btn.active {
    background-color: var(--bs-warning);
    color: var(--bs-dark);
    border-color: var(--jounquil);

  }
  
  .knowledge-btn:hover {
    background-color: var(--bs-warning);
    color: grey;
        
  }
  
  .gap-2 {
    gap: 0.5rem !important;
  }