<div class="container container-fluid mt-3 justify-content-center">
    <div class="card" style="max-width: 35rem">
        <form [formGroup]="loginForm">
            <div class="form-group p-3">
                <div class="form-label">Introduce tu email</div>
                <span class="d-flex">
                    <label for="email">Email:</label>
                </span>
                <div class="mt-3 ">

                    <input id="email" formControlName="email" class="form-control">
                    @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
                    <div class="error">
                        @if(loginForm.get('email')?.errors?.['required']){
                        <span class="text-danger">Email is required</span>
                        }
                        @if(loginForm.get('email')?.errors?.['email']){
                        <span class="text-danger">Invalid email format</span>
                        }
                    </div>
                    }
                </div>
            </div>

            @if(isValidEmail == false) {
            <div class="p-3 d-flex justify-content-center">
                <button type="submit" (click)="checkEmailLogin()" class="btn btn-star">Continue</button>
            </div>
            }
            @if(userExist == true && isValidEmail == true) {
            <div class="form-group p-3">
                <span class="d-flex">
                    <label for="password">Password:</label>
                </span>
                <input id="password" formControlName="password" type="password" class="form-control" autofocus>
                @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
                <div class="error">
                    @if(loginForm.get('password')?.errors?.['required']){
                    <span class="text-danger">Password is required</span>
                    }
                </div>
                }
                @if(errorMessage){
                <span class="text-danger">{{ errorMessage }}</span>
                }
            </div>

            <div class="p-3 d-flex justify-content-center">
                <button type="submit" (click)="userLogin()" class="btn btn-star">Login</button>
            </div>
            }

        </form>

    </div>
</div>