<div class="container container-fluid mt-3 justify-content-center">
    <div class="card">
        <form [formGroup]="loginForm">
            <div class="form-group p-3">
                <p class="card-title text-center">Para acceder a tu cuenta introduce tu email</p>
                <span class="d-flex">
                    <label class="form-label mb-0" for="email">Email:</label>
                </span>
                <div >

                    <input id="email" formControlName="email" class="form-control">
                    @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched){
                    <div class="error">
                        @if(loginForm.get('email')?.errors?.['required']){
                        <span class="text-danger">Email is required</span>
                        }
                        @if(loginForm.get('email')?.errors?.['email']){
                        <span class="text-danger">Invalid email format</span>
                        }
                    </div>
                    }
                </div>
            </div>

            @if(isValidEmail === false) {
            <div class="p-3 d-flex justify-content-center">
                <button type="submit" (click)="checkEmailLogin()" class="click-btn btn-style506">Continue</button>
            </div>
            }
            @if(userExist === true && isValidEmail === true) {
            <div class="form-group p-3">
                <span class="d-flex">
                    <label class="form-label mb-0"  for="password">Password:</label>
                </span>
                <input id="password" formControlName="password" type="password" class="form-control">
                @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
                <div class="error">
                    @if(loginForm.get('password')?.errors?.['required']){
                    <span class="text-danger">Password is required</span>
                    }
                </div>
                }
                @if(errorMessage){
                <span class="text-danger">{{ errorMessage }}</span>
                }
            </div>

            <div class="p-3 d-flex justify-content-center">
                <button type="submit" (click)="userLogin()" class="click-btn btn-style506">Login</button>
            </div>
            }

        </form>

    </div>
</div>