/* You can add global styles to this file, and also import other style files */
//button style

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/lux/bootstrap.min.css");

$background: #e6e6e6;
$button-width: 120px;
$border-radius: 0px;
$timberwolf: #d6d6d6ff;
$aureolin: #ffee32ff;
$jonquil: #ffd100ff;
$eerie-black: #202020ff;
$jet: #333533ff;





.click-btn {
  display: flex;
  width: $button-width;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  line-height: 35px;
  border: 1px solid;
  border-radius: $border-radius;
  text-align: center;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  transition: all 0.35s;
  box-sizing: border-box;
}


// button style



.btn-style506 {
  $btn-color: $eerie-black ;
  position: relative;
  border-color: $btn-color;
  color: $timberwolf;
  overflow: hidden;
  &::before {
    width: 20%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: $jonquil;
    transform: rotateZ(-45deg) translate(-50%, -50%);
    transition: all 0.3s;
    content: "";
    z-index: -1;
  }
  &:hover {
    color: $jet;
    &::before {
      width: 100%;
      top: 0;
      transform: none;
    }
  }
}





.btn-style701 {
  $btn-color: #dd6395;
  $btn-hover-color: #dd2470;
  $size: 8px;
  $offset: 50%;
  position: relative;
  border: none;
  // border-color:$btn-color;
  color: $btn-color;
  span {
    width: 100%;
    display: block;
    position: relative;
  }
  &::before,
  &::after,
  span::before,
  span::after {
    width: $size;
    height: $size;
    position: absolute;
    transition: all 0.5s;
    border: 3px solid $btn-color;
    opacity: 0;
    content: "";
  }
  &::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
    transform: translate(-$offset, -$offset);
  }
  &::after {
    bottom: 0;
    left: 0;
    border-right: none;
    border-top: none;
    transform: translate(-$offset, $offset);
  }
  span::before {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
    transform: translate($offset, -$offset);
  }
  span::after {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
    transform: translate($offset, $offset);
  }
  &:hover {
    font-size: 16.5px;
    color: $btn-hover-color;
    &::before,
    &::after,
    span::before,
    span::after {
      opacity: 1;
      border-color: $btn-hover-color;
      transform: translate(0%, 0%);
    }
  }
}



.btn-style906 {
  $btn-color: #bf7b7b;
  $btn-hover-color: #8b5252;
  position: relative;
  background: $btn-color;
  border-color: $btn-color;
  color: #fff;
  overflow: hidden;
  &::before {
    width: 0;
    height: 4.5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #562424;
    transition: all 0.35s;
    content: "";
    z-index: 2;
  }
  &::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: $border-radius;
    background-color: $btn-hover-color;
    transform: translate(0, -100%);
    transition: all 0.35s;
    content: attr(data-hover);
    z-index: 1;
  }
  &:hover {
    &::before {
      width: 100%;
    }
    &::after {
      transform: translate(0, 0);
    }
  }
}


@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');






 
                            

#customBtn2 {
    cursor: pointer; border: solid rgb(51, 53, 51); font-family: Raleway; font-size: 18px; color: rgb(0, 0, 0); padding: 13px 30px; transition: 538ms; width: 180px; box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; border-radius: 0px 20px 0px 0px; background: rgb(255, 209, 0); font-weight: 900; --hover-bgc: #333533; --hover-width: 189px; --hover-borderc: #ffd100; --hover-color: #ffd100; --hover-borderSize: 2px; display: flex; justify-content: center; align-items: center;
}


#customBtn2:hover{
    
color: rgb(255, 209, 0);
width: 180px;
background: rgb(51, 53, 51) none repeat scroll 0% 0% / auto  border-box;
border-color: rgb(255, 209, 0);
border-width: 3px;
border-style: solid;
}







